.navbar {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.header{
    position: sticky;
    top:0px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    background-color: #FFFFFF;
}
.nav-logo {
    height: 80px;
}

.corporate-icon {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.nav-item {
    display: flex;
    font-size: 18px;
    font-weight: 800;
    align-items: center;
}
.nav-item:hover{
    color:#ea4610;
    cursor: pointer;
}

.card {
    border-radius: 10px;
    /* border: 2px solid black; */
    width: 250px;
    margin: 10px;
    padding: 10px;
    background-color: #f3f0f0;
}
.card:hover {
    cursor: pointer;
}

.card-img {
    width: 100%;
    border-radius: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 100px;
    justify-content: space-between;
}
.filter {
    margin: 10px;
}

.filter-btn {
    background-color: #ea4610;
    color: #FFFFFF;
    border: none;
    font-size: medium;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
}
.shimmer-body {
    display : flex;
    flex-wrap: wrap;
}
.shimmer-card {
    padding: 10px; 
    margin: 20px;
    width: 250px;
    height: 350px;
    background-color: #f0f0f0;
    border-radius: 20px;
}
.shimmer-image {
    height: 180px;
    border-radius: 20px;
    background-color: #FFFFFF;
}